/* FORÇA O PRETO NO IPHONE E ANDROID */
input, textarea, select {
  color: #000000 !important;
  -webkit-text-fill-color: #000000 !important; /* Única forma de vencer o modo escuro do iOS */
  background-color: #ffffff !important;
  opacity: 1 !important;
}

/* Cor do texto de exemplo (Placeholder) */
input::placeholder {
  color: #666666 !important;
  -webkit-text-fill-color: #666666 !important;
}